<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/leghand :: head">
</head>
<body>
<div th:replace="partials/postnavparts :: inxnavbar"></div>

<div>
    <form th:action="@{/post/create}" th:method="post" th:object="${post}">
        <label th:for="title">Title</label>
        <input id="title" type="text" th:field="*{title}"/>
        <label th:for="body">body of post</label>
        <textarea id="body" th:field="*{body}"></textarea>
        <input type="hidden" name="userId" th:value="*{#authentication.principal.id}"/>
        <button type="submit">submit</button>

    </form>
</div>

<leghand th:replace="partials/Leghand :: leghand"/>
</body>
</html>