<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/leghand :: head">
</head>
<body>
<div th:replace="partials/postnavparts :: inxnavbar"></div>
<div class="container">
    <div class="card bg-dark text-muted m-5 p-3">
        <div class="form-group">
            <form th:action="@{/post/create}" th:method="post" th:object="${post}">
                <div class="form-group">
                    <label th:for="title">Title</label>
                    <input class="form-control" id="title" type="text" th:field="*{title}"/>
                    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" />
                </div>
                <div class="form-group">
                    <label th:for="body">Post</label>
                    <textarea class="form-control" rows="3" id="body" th:field="*{body}"></textarea>
                    <p th:if="${#fields.hasErrors('body')}" th:errors="*{body}" />
                    <input type="hidden" name="userId" th:value="*{#authentication.principal.id}"/>
                    <button class="btn btn-outline-light" type="submit">submit</button>
                </div>

            </form>
        </div>
    </div>
</div>
<leghand th:replace="partials/Leghand :: leghand"/>
</body>
</html>