<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/leghand :: head">
</head>
<body>
<div th:replace="partials/postnavparts :: inxnavbar"></div>

<div>
    <form th:action="@{'/post/'+${post.id}+'/edit'}" th:method="post" th:object="${post}">
        <label for="title">Title</label>
        <input type="text" th:field="*{title}"/>
        <label for="body">body of post</label>
        <textarea th:field="*{body}"></textarea>
        <button type="submit">submit</button>
        <input type="hidden" th:field="*{owner}"/>
    </form>
</div>

<leghand th:replace="partials/Leghand :: leghand"/>
</body>
</html>