<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:replace="partials/postnavparts :: inxnavbar"></div>
<div>
    <h3 th:text="${post.title}"></h3>
    <p th:text="@{'Author: ' + ${post.owner.name}}"></p>
    <p th:text="${post.body}"></p>
    <p th:text="@{'Email: ' + ${post.owner.email} }"></p>
    <div sec:authorize="isAuthenticated()">
        <th:block th:if="${#authentication.principal.id} == ${post.owner.id}">

            <form th:action="@{'/post/'+${post.id}+'/delete'}" th:method="post">
                <button id="${post.id}">Delete this Post</button>
            </form>
            <form th:action="@{'/post/'+${post.id}+'/edit'}" th:method="GET">
                <button th:id="${post.id}">Edit this post</button>
            </form>

        </th:block>
    </div>
</div>


</body>
</html>