<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>


<nav th:fragment="navbar">
    <ul>
        <li>
            <a href="/rolldice/1">1</a>
        </li>
        <li>
            <a href="/rolldice/2">2</a>
        </li>
        <li>
            <a href="/rolldice/3">3</a>
        </li>
        <li>
            <a href="/rolldice/4">4</a>
        </li>
        <li>
            <a href="/rolldice/5">5</a>
        </li>
        <li>
            <a href="/rolldice/6">6</a>
        </li>
    </ul>
</nav>


<footer th:fragment="leghands">

</footer>
</body>
</html>